/*
 * MWE: Custom styles for widgets that use jQuery DataTables plugin & DataTables Row Grouping Extra.
 */
.expanded-group {
	background: url("../lgxw-img/minus.jpg") no-repeat scroll left center transparent;
	background-color: #f9f9f9;
	font-weight: bold;
	padding-left: 15px !important
}
.collapsed-group {
	background: url("../lgxw-img/plus.jpg") no-repeat scroll left center transparent;
	background-color: #f9f9f9;
	font-weight: bold;
	padding-left: 15px !important
}
/*
 * Table wrapper
 */
.dataTables_wrapper {
/*	position: relative; */
	clear: both;
	*zoom: 1;
}
/*
 * The following style enables using DataTables column values without displaying them in the rendered tables.
 * DataTables has its own native functionality for this but it did not seem to play nice with the Grouping
 * plugin (or at least the way that we were using it). 
 */
th.datatables-pseudo-hide, td.datatables-pseudo-hide {
	display: none;
}	
/*
 * MWE: The next set of classes are used to style icons as part of
 * our implementation of jQ DataTables and its Grouping plugin.
 * We could possibly extend this use.
 */
.lwd-icon-red {
	color: red;
}
.lwd-icon-yellow {
	color: yellow;
}
.lwd-icon-green {
	color: green;
}
.lwd-icon-gray {
	color: gray;
}
